h1{
    font-size: 40px;
    margin-top: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #FF8000;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline ;
    margin-right: 20px;
    font-size: 20px;
}

nav ul li a {
    color: #f0f8ff;
    text-decoration: none;
}

section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product {
    background-color: #d3d9be;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
}

footer {
    color: #ffffff;
    background-color: #7a7a7a;
    padding: 20px;
    text-align: center;
    padding-left: 0px;
}

a {
    color: #ffffff;;
    text-decoration: none;
    text-transform: uppercase;
  }
